.header {
  .top_header {
    padding: 15px 0;
    background-color: white;
    font-family: $font-1;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.5px;
    line-height: 1;
    color: $color_3;
    text-align: center;

    .top_header_inner {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .contact {
        .phone {
          font-size: 25px;
        }
      }

      .social {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .icon {
          display: block;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: $color_3;
          text-align: center;
          cursor: pointer;
          transition: all 0.3s;

          &:hover {
            background-color: rgba($color_3, 0.8);
          }

          i {
            font-size: 30px;
            line-height: 50px;
            color: white;
          }
        }

        .icon + .icon {
          margin-left: 20px;
        }
      }

      .search {

      }

      .shopping {
        .icon {
          cursor: pointer;

          i {
            font-size: 40px;
            color: $color_3;
            transition: all 0.3s;

            &:hover {
              color: rgba($color_3, 0.8);
            }
          }
        }

        .icon + .icon {
          margin-left: 40px;
        }
      }
    }
  }

  .main_header {
    background-color: $color_4;

    .main_header_inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-height: 250px;

      img {
        @include scale_image(contain);
      }
    }
  }
}

body.home {
  .header {
    .main_header {
      padding: 20px 0;

      .main_header_inner {
        .extra_image {
          margin: 0 auto;
        }
      }
    }
  }
}