.products_wrapper {
  .products_top-buttons {
    padding: 20px 0;
    background-color: $color_6;

    .products_top-inner {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      font-family: $font_3;
      font-weight: 400;
      font-size: 29px;
      letter-spacing: 0;
      line-height: 1;
      color: $color_3;

      .link {
        display: inline-block;
      }

      .sort_buttons {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;

        .sort_buttons_label {
          margin-right: 50px;
        }

        .sort_button {
          position: relative;
          display: inline-block;
          cursor: pointer;
          padding-bottom: 5px;

          &::after {
            content: "";
            display: block;
            @include center(X);
            top: calc(100% + 5px);
            width: 0;
            height: 2px;
            background-color: $color_3;
            transition: all 0.3s;
          }
        }

        .sort_button.active {
          &::after {
            width: 100%;
          }
        }

        .sort_button + .sort_button {
          margin-left: 32px;

          &::before {
            content: "";
            display: block;
            @include fill(Y);
            right: calc(100% + 15px);
            width: 2px;
            background-color: $color_3;
          }
        }

        .sort_buttons_text {
          margin-left: 50px;
        }
      }
    }
  }

  .products_main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px 0;

    .products_filters {
      width: 250px;
      margin-right: 60px;

      .filters_block {
        padding: 20px;
        margin-bottom: 35px;
        background-color: $color_7;
        border-radius: 5px;
        font-family: $font_3;
        font-weight: 400;
        font-size: 25px;
        letter-spacing: 0;
        line-height: 1;
        color: $color_9;

        .filters_block_title {
          padding-bottom: 5px;
          margin-bottom: 10px;
          border-bottom: 1px solid $color_8;
          text-align: center;
          font-size: 29px;
        }

        .filters_block_items {
          list-style: none;
          padding: 0;
          margin: 0;

          .filters_block_item {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            cursor: pointer;

            &.disabled {
              color: #aaaaaa;
            }

            .checkbox {
              position: relative;
              width: 16px;
              height: 16px;
              border: 1px solid $color_10;
              border-radius: 2px;
              margin-right: 20px;

              &::before {
                content: "";
                @include center;
                width: 9px;
                height: 9px;
                background-color: transparent;
                border-radius: 2px;
                transition: all 0.3s;
              }
            }
          }

          .filters_block_item.active {
            .checkbox::before {
              background-color: $color_10;
            }
          }
        }

        .filters_block_slider {
          .price_info {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin: 20px 0 10px;

            .label {
              font-size: 15px;
            }

            .price_values {
              font-size: 20px;
            }
          }

          .price_slider {
            border: none;
            height: 5px;
            background-color: #D4CECE;

            .ui-slider-range {
              background-color: $color_8;
              border: none;
              border-radius: 0;
            }

            .ui-slider-handle {
              top: -5px;
              width: 15px;
              height: 15px;
              border: 1px solid $color_10;
              border-radius: 2px;
              background-color: $color_11;
              outline: none;
              cursor: pointer;
            }
          }
        }
      }
    }

    .products_items {
      position: relative;
      flex: 1;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 52px;

      &::before,
      &::after {
        content: "";
        @include fill(Y);
        width: 2px;
        background-color: $color_12;
      }

      &::before {
        left: calc((100% - 104px) / 3 + 25px);
      }

      &::after {
        right: calc((100% - 104px) / 3 + 25px);
      }

      .item {
        position: relative;
        padding: 5px 5px 15px;
        background-color: $color_11;
        border-radius: 5px;

        .item_images {
          position: relative;
          width: 100%;
          height: 250px;

          .item_image {
            display: block;
            width: 100%;
            height: 100%;

            img {
              @include scale_image;
            }
          }

          .item_colors {
            position: absolute;
            left: 15px;
            bottom: 15px;
            opacity: 0.3;
            transition: all 0.3s;

            &:hover {
              opacity: 1;
            }

            .item_color {
              display: inline-block;
              vertical-align: middle;
              width: 14px;
              height: 14px;
              border-radius: 50%;
              cursor: pointer;
              margin: 3px;
              transition: all 0.3s;

              &.active {
                width: 20px;
                height: 20px;
                margin: 0;
              }

              &[data-color='Amarillo'] {
                background-color: #cc9933;
              }

              &[data-color='Turquesa'] {
                background-color: #006666;
              }

              &[data-color='Rosa'] {
                background-color: #cc6699;
              }

              &[data-color='Azul'] {
                background-color: #6699ff;
              }

              &[data-color='Verde'] {
                background-color: #669933;
              }

              &[data-color='Blanco'] {
                background-color: #99ccff;
              }

              &[data-color='Morado'] {
                background-color: #9966ff;
              }

              &[data-color='Marron'] {
                background-color: #996633;
              }
            }
          }
        }

        .item_content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: calc(100% - 250px);
          padding: 15px 10px 0;
          font-family: $font_2;
          font-weight: 400;
          font-size: 16px;
          letter-spacing: 0;
          line-height: 18px;
          color: $color_3;

          .item_info {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            margin-bottom: 20px;

            .item_desc {
              text-align: justify;
            }

            .item_price {
              margin-left: 20px;
              font-family: $font_1;
              font-weight: 700;
              font-size: 25px;
              text-align: right;
              white-space: nowrap;
              line-height: 1;
            }
          }

          .item_buy-button {
            display: block;
            width: 100%;
            padding: 10px 0;
            border-radius: 5px;
            background-color: $color_1;
            font-weight: 700;
            font-size: 18px;
            color: white;
            text-align: center;
            cursor: pointer;
            transition: opacity 0.3s;

            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}