@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(100%);
  }
}
.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 0.7s;
  animation-fill-mode: both;
}

.fadeOutUp {
  animation-name: fadeOutUp;
  animation-duration: 0.7s;
  animation-fill-mode: both;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: block;
  position: relative;
  width: 1140px;
  margin: 0 auto;
}

.container_fluid {
  display: block;
  position: relative;
  min-width: 1140px;
  width: 100%;
}

.error_wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.error_wrapper .error {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1;
}
.error_wrapper .error .error_title {
  font-size: 40px;
  color: #333333;
  margin-bottom: 20px;
}
.error_wrapper .error .error_msg {
  font-size: 30px;
  color: #dc3545;
  margin-bottom: 50px;
}
.error_wrapper .error .error_img {
  max-width: 80vw;
  max-height: 65vh;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}
.error_wrapper .error .error_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header .top_header {
  padding: 15px 0;
  background-color: white;
  font-family: "Dancing Script", cursive;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.5px;
  line-height: 1;
  color: #131313;
  text-align: center;
}
.header .top_header .top_header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .top_header .top_header_inner .contact .phone {
  font-size: 25px;
}
.header .top_header .top_header_inner .social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header .top_header .top_header_inner .social .icon {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #131313;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}
.header .top_header .top_header_inner .social .icon:hover {
  background-color: rgba(19, 19, 19, 0.8);
}
.header .top_header .top_header_inner .social .icon i {
  font-size: 25px;
  line-height: 45px;
  color: white;
}
.header .top_header .top_header_inner .social .icon + .icon {
  margin-left: 20px;
}
.header .top_header .top_header_inner .shopping .icon {
  cursor: pointer;
}
.header .top_header .top_header_inner .shopping .icon i {
  font-size: 40px;
  color: #131313;
  transition: all 0.3s;
}
.header .top_header .top_header_inner .shopping .icon i:hover {
  color: rgba(19, 19, 19, 0.8);
}
.header .top_header .top_header_inner .shopping .icon + .icon {
  margin-left: 40px;
}
.header .main_header {
  background-color: #D7D7D8;
}
.header .main_header .main_header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 250px;
}
.header .main_header .main_header_inner .logo {
  max-width: 250px;
}
.header .main_header .main_header_inner .extra_image {
  display: flex;
  max-width: 600px;
}
.header .main_header .main_header_inner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

body.home .header .main_header {
  padding: 20px 0;
}
body.home .header .main_header .main_header_inner .extra_image {
  margin: 0 auto;
  max-width: 400px;
}

body.gallery .header .main_header {
  padding: 10px 0;
}
body.gallery .header .main_header .main_header_inner {
  justify-content: flex-start;
}
body.gallery .header .main_header .main_header_inner .logo {
  width: calc(100% / 3);
  max-width: none;
}
body.gallery .header .main_header .main_header_inner .logo img {
  max-width: 250px;
}
body.gallery .header .main_header .main_header_inner .extra_image {
  width: calc(100% / 3);
  padding: 0 75px;
}

.main_slider {
  width: 100vw;
  height: 100vh;
}
.main_slider .item {
  height: 100vh;
  position: relative;
}
.main_slider .item .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Lato", sans-serif;
  color: #333333;
  line-height: 1;
  text-align: center;
}
.main_slider .item.colored_text {
  background-color: rgba(153, 102, 204, 0.5);
}
.main_slider .item.colored_text .caption {
  font-weight: 300;
  white-space: nowrap;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
}
.main_slider .item.colored_text .caption .title_1 {
  display: block;
  font-size: 135px;
  color: #9966ff;
  margin-bottom: 20px;
}
.main_slider .item.colored_text .caption .title_2 {
  display: block;
  font-size: 109px;
  color: #999999;
  margin-bottom: 70px;
}
.main_slider .item.colored_text .caption .comment {
  display: block;
  font-size: 30px;
  color: #666666;
}
.main_slider .item.right_text img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main_slider .item.right_text .caption {
  left: 75%;
  font-size: 80px;
  font-weight: 300;
}
.main_slider .item.right_text .video_link {
  display: block;
  position: absolute;
  right: 25px;
  bottom: 25px;
  width: 70px;
  height: 70px;
  transition: transform 0.5s;
}
.main_slider .item.right_text .video_link:hover {
  transform: scale(1.1);
}
.main_slider .item.right_text .video_link img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.main_slider .item.multilayer {
  background-color: #996666;
}
.main_slider .item.multilayer::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 5px solid #cc99cc;
  z-index: 4;
  pointer-events: none;
}
.main_slider .item.multilayer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.main_slider .item.multilayer .diamonds {
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  width: 100%;
  z-index: 1;
}
.main_slider .item.multilayer .diamonds.top {
  right: auto;
  left: 15px;
  transform: rotate(180deg);
}
.main_slider .item.multilayer .diamonds img {
  object-position: right;
}
.main_slider .item.multilayer .gifts {
  position: absolute;
  left: 30px;
  bottom: 5px;
  width: 25%;
  z-index: 2;
}
.main_slider .item.multilayer .member_card {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 28%;
  z-index: 3;
}
.main_slider .item.multilayer .caption {
  font-style: italic;
  font-weight: 700;
  font-size: 70px;
  z-index: 5;
}

.full_width_block {
  position: relative;
  width: 100%;
  height: auto;
}
.full_width_block .bg_image {
  width: 100%;
  height: auto;
}
.full_width_block .bg_image img {
  display: block;
  width: 100%;
  height: auto;
}
.full_width_block .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 85px;
  letter-spacing: 1px;
  line-height: 1;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  color: black;
}

.full_width_block.red_girl .caption {
  left: 65%;
}

.full_width_block.blue_girl .caption {
  left: 75%;
  text-transform: none;
  color: #ccccff;
}
.full_width_block.blue_girl .caption .caption_title {
  font-size: 65px;
  margin-bottom: 40px;
}
.full_width_block.blue_girl .caption .caption_desc {
  padding: 30px 20px;
  margin-bottom: 20px;
  border: 6px solid #000033;
  border-radius: 5px;
  font-style: italic;
  font-size: 30px;
  line-height: 40px;
}
.full_width_block.blue_girl .caption .caption_link {
  position: relative;
  display: table;
  margin: 0 auto;
  font-size: 35px;
}
.full_width_block.blue_girl .caption .caption_link::before {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  height: 2px;
  background-color: transparent;
  transition: all 0.5s;
}
.full_width_block.blue_girl .caption .caption_link:hover::before {
  background-color: #ccccff;
}

.gallery_block {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.gallery_block .gallery_image {
  display: block;
  width: calc((100% - 50px) / 3);
  height: auto;
  margin-bottom: 25px;
  border-radius: 5px;
  overflow: hidden;
  transition: opacity 0.5s;
}
.gallery_block .gallery_image:last-of-type {
  margin: 0 auto 25px;
}
.gallery_block .gallery_image:hover {
  opacity: 0.8;
}
.gallery_block .gallery_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products_wrapper .products_top-buttons {
  padding: 20px 0;
  background-color: #DAD3E7;
}
.products_wrapper .products_top-buttons .products_top-inner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 29px;
  letter-spacing: 0;
  line-height: 1;
  color: #131313;
}
.products_wrapper .products_top-buttons .products_top-inner .link {
  display: inline-block;
}
.products_wrapper .products_top-buttons .products_top-inner .sort_buttons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
.products_wrapper .products_top-buttons .products_top-inner .sort_buttons .sort_buttons_label {
  margin-right: 50px;
}
.products_wrapper .products_top-buttons .products_top-inner .sort_buttons .sort_button {
  display: inline-block;
  cursor: pointer;
}
.products_wrapper .products_top-buttons .products_top-inner .sort_buttons .sort_button + .sort_button {
  padding-left: 30px;
  margin-left: 30px;
  border-left: 2px solid #131313;
  padding-bottom: 5px;
}
.products_wrapper .products_main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 50px 0;
}
.products_wrapper .products_main .products_filters {
  width: 250px;
  margin-right: 60px;
}
.products_wrapper .products_main .products_filters .filters_block {
  padding: 20px;
  margin-bottom: 35px;
  background-color: #EAD2D2;
  border-radius: 5px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 1;
  color: #cc9999;
}
.products_wrapper .products_main .products_filters .filters_block .filters_block_title {
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #B291F1;
  text-align: center;
  font-size: 29px;
}
.products_wrapper .products_main .products_filters .filters_block .filters_block_items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.products_wrapper .products_main .products_filters .filters_block .filters_block_items .filters_block_item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
}
.products_wrapper .products_main .products_filters .filters_block .filters_block_items .filters_block_item.disabled {
  color: #aaaaaa;
}
.products_wrapper .products_main .products_filters .filters_block .filters_block_items .filters_block_item .checkbox {
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #666666;
  border-radius: 2px;
  margin-right: 20px;
}
.products_wrapper .products_main .products_filters .filters_block .filters_block_items .filters_block_item .checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 9px;
  background-color: transparent;
  border-radius: 2px;
  transition: all 0.3s;
}
.products_wrapper .products_main .products_filters .filters_block .filters_block_items .filters_block_item.active .checkbox::before {
  background-color: #666666;
}
.products_wrapper .products_main .products_filters .filters_block .filters_block_slider .price_info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 20px 0 10px;
}
.products_wrapper .products_main .products_filters .filters_block .filters_block_slider .price_info .label {
  font-size: 15px;
}
.products_wrapper .products_main .products_filters .filters_block .filters_block_slider .price_info .price_values {
  font-size: 20px;
}
.products_wrapper .products_main .products_filters .filters_block .filters_block_slider .price_slider {
  border: none;
  height: 5px;
  background-color: #D4CECE;
}
.products_wrapper .products_main .products_filters .filters_block .filters_block_slider .price_slider .ui-slider-range {
  background-color: #B291F1;
  border: none;
  border-radius: 0;
}
.products_wrapper .products_main .products_filters .filters_block .filters_block_slider .price_slider .ui-slider-handle {
  top: -5px;
  width: 15px;
  height: 15px;
  border: 1px solid #666666;
  border-radius: 2px;
  background-color: #f6f2ff;
  outline: none;
  cursor: pointer;
}
.products_wrapper .products_main .products_items {
  position: relative;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 52px;
}
.products_wrapper .products_main .products_items::before, .products_wrapper .products_main .products_items::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #edddc3;
}
.products_wrapper .products_main .products_items::before {
  left: calc((100% - 104px) / 3 + 25px);
}
.products_wrapper .products_main .products_items::after {
  right: calc((100% - 104px) / 3 + 25px);
}
.products_wrapper .products_main .products_items .item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px 5px 15px;
  background-color: #f6f2ff;
  border-radius: 5px;
}
.products_wrapper .products_main .products_items .item .item_images {
  position: relative;
  width: 100%;
  height: 250px;
  margin-bottom: 15px;
}
.products_wrapper .products_main .products_items .item .item_images .item_image {
  display: block;
  width: 100%;
  height: 100%;
}
.products_wrapper .products_main .products_items .item .item_images .item_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products_wrapper .products_main .products_items .item .item_images .item_colors {
  position: absolute;
  left: 15px;
  bottom: 15px;
  opacity: 0.3;
  transition: all 0.3s;
}
.products_wrapper .products_main .products_items .item .item_images .item_colors:hover {
  opacity: 1;
}
.products_wrapper .products_main .products_items .item .item_images .item_colors .item_color {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
  margin: 3px;
  transition: all 0.3s;
}
.products_wrapper .products_main .products_items .item .item_images .item_colors .item_color.active {
  width: 20px;
  height: 20px;
  margin: 0;
}
.products_wrapper .products_main .products_items .item .item_images .item_colors .item_color[data-color='Amarillo'] {
  background-color: #cc9933;
}
.products_wrapper .products_main .products_items .item .item_images .item_colors .item_color[data-color='Turquesa'] {
  background-color: #006666;
}
.products_wrapper .products_main .products_items .item .item_images .item_colors .item_color[data-color='Rosa'] {
  background-color: #cc6699;
}
.products_wrapper .products_main .products_items .item .item_images .item_colors .item_color[data-color='Azul'] {
  background-color: #6699ff;
}
.products_wrapper .products_main .products_items .item .item_images .item_colors .item_color[data-color='Verde'] {
  background-color: #669933;
}
.products_wrapper .products_main .products_items .item .item_images .item_colors .item_color[data-color='Blanco'] {
  background-color: #99ccff;
}
.products_wrapper .products_main .products_items .item .item_images .item_colors .item_color[data-color='Morado'] {
  background-color: #9966ff;
}
.products_wrapper .products_main .products_items .item .item_images .item_colors .item_color[data-color='Marron'] {
  background-color: #996633;
}
.products_wrapper .products_main .products_items .item .item_content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;
  color: #131313;
}
.products_wrapper .products_main .products_items .item .item_content .item_info {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 20px;
}
.products_wrapper .products_main .products_items .item .item_content .item_info .item_desc {
  text-align: justify;
}
.products_wrapper .products_main .products_items .item .item_content .item_info .item_price {
  margin-left: 20px;
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 25px;
  text-align: right;
  white-space: nowrap;
  line-height: 1;
}
.products_wrapper .products_main .products_items .item .item_content .item_buy-button {
  display: block;
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;
  background-color: #9966cc;
  font-weight: 700;
  font-size: 18px;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.3s;
}
.products_wrapper .products_main .products_items .item .item_content .item_buy-button:hover {
  opacity: 0.7;
}

.footer {
  position: relative;
  background-color: rgba(255, 204, 255, 0.5);
}
.footer .scroll_top {
  position: absolute;
  top: 0;
  right: calc((100% - 1140px) / 2);
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #333333;
  transition: all 0.5s;
  color: #333333;
  cursor: pointer;
  z-index: 1;
}
.footer .scroll_top::before {
  content: "";
  position: absolute;
  bottom: 35%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 30px;
  height: 30px;
  border: 15px solid transparent;
  border-bottom: 20px solid #333333;
  box-sizing: border-box;
  transition: all 0.5s;
}
.footer .scroll_top:hover {
  background-color: #333333;
}
.footer .scroll_top:hover::before {
  border-bottom-color: white;
}
.footer .top_footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 0;
}
.footer .top_footer .col {
  max-width: 25%;
  padding: 0 20px;
}
.footer .top_footer .col:first-of-type {
  padding-left: 0;
}
.footer .top_footer .col:last-of-type {
  padding-right: 0;
}
.footer .top_footer .title {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 30px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 20px;
}
.footer .top_footer .logo {
  display: block;
  width: 100%;
  height: auto;
}
.footer .top_footer .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer .top_footer .contacts > a {
  display: block;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 1;
  margin-bottom: 10px;
  color: #333333;
}
.footer .top_footer .contacts .icons_wrapper {
  display: inline-block;
  vertical-align: middle;
  height: 35px;
  margin-top: 15px;
}
.footer .top_footer .contacts .icons_wrapper .icon {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 45px;
  background-color: #333333;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}
.footer .top_footer .contacts .icons_wrapper .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}
.footer .top_footer .contacts .icons_wrapper .icon:hover {
  background-color: rgba(51, 51, 51, 0.8);
}
.footer .top_footer .contacts .icons_wrapper .icon + .icon {
  margin-left: 5px;
}
.footer .top_footer .menu .menu_item {
  display: table;
  position: relative;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #333333;
}
.footer .top_footer .menu .menu_item + .menu_item {
  margin-top: 5px;
}
.footer .bottom_footer {
  border-top: 1px solid #9999cc;
  padding: 30px 0;
  color: #333333;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1;
  text-align: center;
}
.footer .bottom_footer p {
  margin: 0 0 5px 0;
}
