<section class="main_slider owl-carousel">
    <div class="item colored_text">
        <div class="caption">
            <div class="title_1">
                Envío gratis
            </div>
            <div class="title_2">
                con la primera compra
            </div>
            <div class="comment">
                *tras registrarse en la pagina web
            </div>
        </div>
    </div>
    <div class="item right_text">
        <img src="{{ url_for('static', filename='img/rings.png') }}">
        <div class="caption">
            <div class="title">
                Edición<br>
                limitada
            </div>
        </div>
    </div>
    <div class="item multilayer">
        <div class="diamonds">
            <img src="{{ url_for('static', filename='img/diamonds.png') }}">
        </div>
        <div class="diamonds top">
            <img src="{{ url_for('static', filename='img/diamonds.png') }}">
        </div>
        <div class="gifts">
            <img src="{{ url_for('static', filename='img/gifts.png') }}">
        </div>
        <div class="member_card">
            <img src="{{ url_for('static', filename='img/member_card.png') }}">
        </div>

        <div class="caption">
            Hazte socio <br>
            y recibe increíbles <br>
            regalos cada mes!
        </div>
    </div>
</section>