<section class="products_wrapper">
    <div class="products_top-buttons">
        <div class="products_top-inner container">
            <a href="{{ url_for('home') }}" class="link">
                Inicio
            </a>
            <div class="sort_buttons">
                <div class="sort_buttons_label">
                    Ordenar por:
                </div>
                <a class="sort_button" data-sort="min-price">
                    menor precio
                </a>
                <a class="sort_button" data-sort="max-price">
                    mayor precio
                </a>
                <a class="sort_button" data-sort="limited-edition">
                    edición limitada
                </a>
            </div>
        </div>
    </div>
    <div class="products_main container">
        <div class="products_filters">
            <div class="filters_block brand">
                <div class="filters_block_title">
                    Marca
                </div>
                <ul class="filters_block_items">
                    <li class="filters_block_item" data-filter-brand="Euforia">
                        <span class="checkbox"></span>
                        <span class="label">Euforia</span>
                    </li>
                    <li class="filters_block_item disabled" data-filter-brand="Oro Vivo">
                        <span class="checkbox"></span>
                        <span class="label">Oro Vivo</span>
                    </li>
                    <li class="filters_block_item disabled" data-filter-brand="Pandora">
                        <span class="checkbox"></span>
                        <span class="label">Pandora</span>
                    </li>
                    <li class="filters_block_item disabled" data-filter-brand="Calvin Klein">
                        <span class="checkbox"></span>
                        <span class="label">Calvin Klein</span>
                    </li>
                </ul>
            </div>
            <div class="filters_block price">
                <div class="filters_block_title">
                    Precio
                </div>
                <div class="filters_block_slider">
                    <div class="price_info">
                        <div class="label">min</div>
                        <div class="price_values">
                            <span class="price_min_value">{{ jewelry_min_price|safe }}</span>&euro; - <span class="price_max_value">{{ jewelry_max_price|safe }}</span>&euro;
                            <input type="hidden" class="price_min" value="{{ jewelry_min_price|safe }}">
                            <input type="hidden" class="price_max" value="{{ jewelry_max_price|safe }}">
                        </div>
                        <div class="label">max</div>
                    </div>
                    <div class="price_slider" data-min-price="{{ jewelry_min_price|safe }}" data-max-price="{{ jewelry_max_price|safe }}"></div>
                </div>
            </div>
            <div class="filters_block material">
                <div class="filters_block_title">
                    Material
                </div>
                <ul class="filters_block_items">
                    <li class="filters_block_item" data-filter-material="Plata">
                        <span class="checkbox"></span>
                        <span class="label">Plata</span>
                    </li>
                    <li class="filters_block_item" data-filter-material="Oro">
                        <span class="checkbox"></span>
                        <span class="label">Oro</span>
                    </li>
                </ul>
            </div>
            <div class="filters_block color">
                <div class="filters_block_title">
                    Color
                </div>
                <ul class="filters_block_items">
                    <li class="filters_block_item" data-filter-color="Turquesa">
                        <span class="checkbox"></span>
                        <span class="label">Turquesa</span>
                    </li>
                    <li class="filters_block_item" data-filter-color="Rosa">
                        <span class="checkbox"></span>
                        <span class="label">Rosa</span>
                    </li>
                    <li class="filters_block_item" data-filter-color="Amarillo">
                        <span class="checkbox"></span>
                        <span class="label">Amarillo</span>
                    </li>
                    <li class="filters_block_item" data-filter-color="Azul">
                        <span class="checkbox"></span>
                        <span class="label">Azul</span>
                    </li>
                    <li class="filters_block_item" data-filter-color="Morado">
                        <span class="checkbox"></span>
                        <span class="label">Morado</span>
                    </li>
                    <li class="filters_block_item" data-filter-color="Verde">
                        <span class="checkbox"></span>
                        <span class="label">Verde</span>
                    </li>
                    <li class="filters_block_item" data-filter-color="Blanco">
                        <span class="checkbox"></span>
                        <span class="label">Blanco</span>
                    </li>
                    <li class="filters_block_item" data-filter-color="Marron">
                        <span class="checkbox"></span>
                        <span class="label">Marron</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="products_items">
            {% for product in jewelry %}
                {% set product_loop = loop %}
                <div class="item"
                     data-brand="{{ product.brand|safe }}"
                     data-price="{{ product.price|safe }}"
                     data-material="{{ product.material|safe }}"
                     data-colors="{% for pic in product.pictures %}{{ pic.color|safe }}{% if not loop.last %};{% endif %}{% endfor %}">
                    <div class="item_images">
                        {% for pic in product.pictures %}
                            <a href="{{ pic.url|safe }}" class="item_image {{ pic.color|safe }}" data-fancybox="product_{{ product_loop.index }}" {% if not loop.first %}style="display: none"{% endif %}>
                                <img src="{{ pic.url|safe }}">
                            </a>
                        {% endfor %}
                        <div class="item_colors">
                            {% for pic in product.pictures %}
                                {% if pic.color %}
                                    <span class="item_color {% if loop.first %}active{% endif %}" data-color="{{ pic.color|safe }}"></span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="item_content">
                        <div class="item_info">
                            <div class="item_desc">
                                {{ product.description|safe }}
                            </div>
                            <div class="item_price">
                                {{ product.price|safe }}&euro;
                            </div>
                        </div>
                        <a class="item_buy-button">
                            Añadir a la cesta
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>