<!DOCTYPE html>
<html lang="es">

<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}?v=0.02">
        <title>Euforia</title>
        <script src="https://kit.fontawesome.com/228c1f352f.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% endblock %}
</head>

<body {% if current_section %}class="{{ current_section|safe }}"{% endif %}>
    {% block content %}{% endblock %}

    {% block bottom_scripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}?v=0.02"></script>
    {% endblock %}
</body>

</html>