@import "mixins.scss";
@import "animations.scss";


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$font_1: 'Dancing Script', cursive;
$font_2: 'Lato', sans-serif;


$color_1: #9966cc;
$color_2: #bba0ef;


* {
	box-sizing: border-box;
}

body {
	font-family: $font_2;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	display: block;
	position: relative;
	width: 1140px;
	margin: 0 auto;
}

.container_fluid {
	display: block;
	position: relative;
	min-width: 1140px;
	width: 100%;
}