@mixin scale_image ($type: cover) {
	width: 100%;
	height: 100%;
	object-fit: $type;
}

@mixin center ($axis: both) {
	@if $axis == 'X' {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);

	} @else if $axis == 'Y' {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

	} @else {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

@mixin fill ($axis: both, $type: absolute, $offset: 0) {
	@if $axis == 'X' {
		position: $type;
		left: $offset;
		right: $offset;

	} @else if $axis == 'Y' {
		position: $type;
		top: $offset;
		bottom: $offset;
		
	} @else {
		position: $type;
		top: $offset;
		left: $offset;
		right: $offset;
		bottom: $offset;
	}
}