@mixin display_flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

@mixin scale_image ($type: cover) {
	width: 100%;
	height: 100%;
	object-fit: $type;
}

@mixin center ($axis: both) {
	@if $axis == 'X' {
		position: absolute;
		left: 50%;
		@include transform(translateX(-50%));

	} @else if $axis == 'Y' {
		position: absolute;
		top: 50%;
		@include transform(translateY(-50%));

	} @else {
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));
	}
}

@mixin transform ($transform: none) {
	-webkit-transform: $transform;
	-ms-transform: $transform;
	transform: $transform;
}

@mixin fill ($axis: both, $type: absolute) {
	@if $axis == 'X' {
		position: $type;
		left: 0;
		right: 0;

	} @else if $axis == 'Y' {
		position: $type;
		top: 0;
		bottom: 0;
		
	} @else {
		position: $type;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

@mixin transition ($transition: none) {
	-webkit-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}